h1{
    color: aquamarine;
    font-size: 35px;
}
    .title {
    font-size: 45px;
    color: brown;
}
    .text{
    font-size: 25px;
    color: blue;
    }

p{
    font-size: 15px;
    color: blueviolet; 
}